spring:
  datasource:
#    url: jdbc:h2:mem:mydb
    url: jdbc:mysql://127.0.0.1:3307/pass_local?zeroDateTimeBehavior=convertToNull&useUnicode=yes&characterEncoding=UTF-8&connectTimeout=2000&serverTimezone=Asia/Seoul
    username: pass_local_user
    password: passlocal123
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      maximum-pool-size: 20
  jpa:
    show-sql: true         # ??? ?? ????
    properties:
      hibernate:
        format_sql: false  # 아름답게 출력
  batch:
    jdbc:
      # Batch 에 사용되는 SQL 초기화 스크립트를 실행합니다. 임베디드인 경우에는 기본적으로 실행하는데, always 설정을 하면 임베디드 타입처럼 항상 활성화시킬 수 있습니다.
      # 초기 수행한 이후에는 꺼두어도 됩니다.
      initialize-schema: always

logging:
  level:
    org.hibernate.type.descriptor.sql: off # ????? ?? ????? ????.